@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {

  .sectionContainer {
    @apply w-[60vw]
  }

  .sectionHeaderBlue {
    @apply text-lightPrimaryBlue text-3xl font-medium mb-4
  }

  .sectionSecondaryHeaderBlue {
    @apply text-lightPrimaryBlue text-2xl font-medium mb-4
  }

  .underlineLightblue {
    @apply underline decoration-lightPrimaryBlue underline-offset-8
  }

  .careerTitle {
    @apply text-white text-xl font-bold border-l-lightPrimaryBlue border-l-[1px] pl-3 h-3 leading-[11px] mb-2
  }

  .careerBody {
    @apply pl-4
  }
}
