@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(1, 1, 1);
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

ul{
    list-style-image: url("../public/bullet.svg");
}

@layer components {

  .sectionContainer {
    @apply w-[60vw]
  }

  .sectionHeaderBlue {
    @apply text-lightPrimaryBlue text-2xl lg:text-3xl font-medium mb-4
  }

  .sectionSecondaryHeaderBlue {
    @apply text-lightPrimaryBlue text-lg lg:text-2xl font-medium mb-4
  }

  .underlineLightblue {
    @apply underline decoration-lightPrimaryBlue underline-offset-8
  }

  .careerTitle {
    @apply text-neutral-200 text-xl font-bold border-l-lightPrimaryBlue border-l-[1px] pl-3 xl:h-3 xl:leading-[11px] mb-2
  }

  .careerBody {
    @apply pl-4
  }

  .navLink {
    @apply  transition duration-300 hover:brightness-125
  }

  .navUnderline {
    @apply block max-w-0 group-hover:max-w-full group-hover:scale-100 transition-all duration-500 h-0.5 bg-lightPrimaryBlue
  }
}
